html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.logo {
	font-family: 'Bowlby One', cursive;
}

.masthead-heading,
.masthead-intro {
    text-align: center;
    color: black;
}

.masthead {
    padding: 22em 0;
    background-image: url('https://openclipart.org/download/99229/a-paisaje-boceto.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-weight: bold;
}

.masthead-heading {
    margin-top: -0.1em;
    font-family: 'Bowlby One', cursive;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.navbar button {
    margin-left: 10px;
}

.navbar button:hover {
    cursor: pointer;
}

.navbar-active {
    text-decoration: underline;

}

.goal-active {
    text-decoration: underline;


    /*border: 1px solid black;
	border-radius: 50%;
	width: 200px;
	height: 200px;*/
}

.create-goal {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.create-goal div {
    margin: 10px;
}

label {
    font-weight: bold;
}

.seed {

    max-height: 8vh;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-goals,
.my-goals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;

    margin: 5px;
}

.my-goals:hover {
    cursor: pointer;
    text-decoration: underline;
}

.seed:hover {

    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.garden {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.garden div {
    margin: 10px;
}

.action-seed {
    align-items: flex-end;
    max-width: 15vh;
}

.action-plant {
    align-items: flex-end;
    max-width: 10vh;
}

.action-plant-2 {
    align-items: flex-end;
    max-width: 20vh;
}

.action-seed-shake {

    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.delete {

    color: red;
    margin-left: 2px;
}


.login,
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login div,
.signup div {
    margin: 10px;
}

#logoutBtn {
    display: none;
}



/* The Modal (background) */

.modal {
    display: none;

    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}



/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */

}



/* The Close Button */

.login-close,
.signup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.login-close:hover,
.signup-close:hover,
.login-close:focus,
.signup-close:focus,
.login-submit:hover,
.signup-submit:hover,
.login-submit:focus,
.signup-submit:focus,
.goal-submit:hover,
.goal-submit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-link {
    background: none;
    border: none;

    float: left;
}

.button-link:hover {
    
    cursor: pointer;

}